.detail{ 
    background: #fff;
    .ant-layout-header{
        background: transparent;
        padding: 0;
        h2{
            display: inline;
        }
        .btnGroup{
            float: right;
            .ant-btn{
                margin-right: 15px;
            }
        }
    }
    .ant-layout-content{
        table{
            border: 1px solid #c5c5c5;
            width: 100%;
            td{
                border: 1px solid #c5c5c5;
                padding: 15px;
            }
        }
        
        code[class*=lang-],
        pre[class*=lang-] {
            color: #ccc;
            background: none;
            font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            line-height: 1.5;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none
        }
        
        pre[class*=lang-] {
            background: #2d2d2d;
            padding: 1em;
            margin: .5em 0;
            overflow: auto
        }

    }
}