#side{
    background: #f4f5f7;
    h2, p{
        margin: 15px;
    }
    
    .ant-btn{
        margin-left: 20px;
    }
    .ant-tree-title:hover{
        .anticon{
            visibility: visible;
        }
    }

    .btnGroup{
        float: right;
        .anticon{
            margin-left: 15px;
            visibility: hidden;
            &:hover{
                color: #388ff3
            }
        }
    }

    .ant-tree li{
        .ant-tree-node-content-wrapper.ant-tree-node-selected{
            background: #388ff3;
            color: #fff;
        }
        .title{
            width: 140px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
}